@import url("https://fonts.googleapis.com/css?family=VT323");
::selection {
    color: #FFFFFF;
    background: transparent;
}

::-moz-selection {
    color: #FFFFFF;
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VT323";
}

body {
    background: url("assets/fundoSnake.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    /* SAFARI / CHROME */
    -moz-background-size: cover;
    /* FIREFOX */
    -ms-background-size: cover;
    /* IE */
    -o-background-size: cover;
    /* OPERA */
}

/* Menu Screen Style */

#menu {
    display: block;
    width: 340px;
    padding-top: 5px;
    padding-bottom: 95px;
    font-size: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

#menu h1 {
    -webkit-animation: logo-ani 1000ms linear infinite;
    animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
    float: left;
    
}

#cobrinhaGif{
    height: 400px;
    width: 400px;
    float: right;
    padding-top: 225px;
    margin-left: auto;
    margin-right: auto;

}

@-webkit-keyframes logo-ani {
    50% {
        -webkit-transform: scale(1.3, 1.3);
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
    }
}

@keyframes logo-ani {
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}

/*RODAPE*/

footer {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

canvas {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}